header {
    display: flex;
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 6px rgb(0 0 0 / 9%);
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
}

.column-text {
    width: 45%;
    padding: 8px;
    text-align: justify;
}

.column-image {
    width: 55%;
}

h1, h2, h3 {
    color:#006eb5;
}